<li class="commentbox">
    <a href="/profile/{{author}}"><h2 class="commenter">{{author}}<span class="datetime">{{createdAt}}</span></h2></a>
    <p class="comment">{{comment_text}}</p>

    {{#if editable}}
    <a href="/delete-comment/{{_id}}">delete</a>
    <button id="show">Edit</button>
    {{/if}}

    <div class="center hideform">
        <button id="close" style="float: right;">X</button> 
        <form action="/edit-comment/{{_id}}" method="post" id="editcomment"> </form>
            <textarea form="editcomment" name="comment_text" id="comment" rows="8" cols="75">{{comment_text}}</textarea>
            <br>
            <input form="editcomment" type = submit id="button" value = "Edit Comment"> 
    </div>
</li>
