<li class="commentbox">
    <a href="/profile/{{author}}"><h2 class="commenter">{{author}}<span class="datetime">{{createdAt}}</span></h2></a>
    <p class="comment">{{comment_text}}</p>
    {{!-- Add css for both! --}}
    <a href="/delete-comment/{{_id}}">delete</a>
    <a href="/edit-comment/{{_id}}">edit</a>
</li>