<div id="content">
    <div id="left">
        <h1>{{title}}</h1>

        {{!-- Add css for both! --}}
        <a href="/delete-post"><h2>delete</h2></a>
        <a href="/edit-post-form/{{_id}}"><h2>edit</h2></a>

        <h3 class="tags">{{tags}}</h3>
        <a href="/profile/{{author}}"><h3>{{author}}</h3></a>
        <h3 class="datetime">{{createdAt}}</h3>
        
        <br><br><br>

        <h2>Ingredients</h2>
        <ul>
            <li> {{ingredients}} </li>
        </ul>

        <br><br><br>

        <h2>Instructions</h2>
        <ol>
            <li> {{instructions}} </li>
        </ol>

        </div>

        <div id="right">
        <img src="../{{image}}"/>
        </div>
</div>

<form action = "/comment-post" method="post" onSubmit = "" id="createcomment">
    <div>
        <textarea form="createcomment" name="comment_text" placeholder = "Create Comment" id="comment" rows="8" cols="75"></textarea>
        <br><br>
        <input type = submit id="button" value = "Submit Comment">
    </div>
</form>

