<html>
    <head>
        <title>{{this.title}}t</title>
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/create.css">
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/universal_styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        {{#each posts}}
        
        {{> header}}
        
        <div id="content">
            <div id="left">
                <h1>{{this.title}}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="starcount"></span></h1>

                <h3 class="tags">{{this.tags}}</h3>
                <a href="../ProfilePage/ProfileVince.html"><h3>Vincent Pinawin</h3></a>
                <h3 class="datetime">02-May-2022 11:30 A.M</h3>
                
                <br><br><br>

                <h2>Ingredients</h2>

                <ul>
                    <li> {{this.ingredients}} </li>
                </ul>

                

                <br><br><br>

                <h2>Instructions</h2>

                <ol>
                    <li> {{this.instructions}} </li>
                </ol>

                

             </div>
     
             <div id="right">
                <img src="../{{this.image}}"/>
             </div>
        </div>

        <form action = "" onSubmit = "" id="createcomment">
            <div>
                <textarea form="createcomment" placeholder = "Create Comment" id="comment" rows="8" cols="75"></textarea>
                <br><br>
                <input type = submit id="button" value = "Submit Comment">
            </div>
        </form>

        <div id="bottom">

            <ul>
                <li class="commentbox">
                    <a href="../ProfilePage/Profile.html"><h2 class="commenter">Timothy Pinawin<span class="datetime">May 3, 2022 08:50pm</span></h2></a>
                    <p class="comment">Very Crispy! The right amount of crispness!</p>
                </li>
                <li class="commentbox">
                    <a href="../ProfilePage/ProfileBryce.html"><h2 class="commenter">Bryce Salvador<span class="datetime">May 3, 2022 10:32pm</span></h2></a>
                    <p class="comment">Sarap na, Juicy pa!</p>
                </li>
                <li class="commentbox">
                    <a href="../ProfilePage/ProfileAndres.html"><h2 class="commenter">Andres Dalisay<span class="datetime">May 4, 2022 01:21pm</span></h2></a>
                    <p class="comment">This recipe really shows how Bagnet can be so GOOD!</p>
                </li>
                <li class="commentbox">
                    <a href="../ProfilePage/ProfileAntoin.html"><h2 class="commenter">Antoinne Salvador<span class="datetime">May 4, 2022 04:44pm</span></h2></a>
                    <p class="comment">Crunchy and juicy, luv it</p>
                </li>
                <li class="commentbox">
                    <a href="../ProfilePage/ProfileAndres.html"><h2 class="commenter">Andres Dalisay<span class="datetime">May 4, 2022 04:54pm</span></h2></a>
                    <p class="comment">Update: Na-highblood ako dito, pero worth itaskdjasl;kdja;ldkjas;ldkajs;dlkasjd;lakjd;laksjd;laskjd;aslkdja;lskdj;ldkjaaslk;djasl/djas;dlkasjdl;ajsd.lsdjl;akdjas;ldskajdl;asjdas;lkdjassdklajdasl;dja;lksdajdas;ldjasl;dsajd;ldkjas;ldksja</p>
                </li>
                <li class="commentbox">
                    <a href="../ProfilePage/Profile.html"><h2 class="commenter">Timothy Pinawin<span class="datetime">May 4, 2022 05:32pm</span></h2></a>
                    <p class="comment">RIP Andres^</p>
                </li>
            </ul>

        </div>
    {{/each}}
    </body>
</html>